#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  background-color: #eee;
  line-height: 1.2;
}

input {
  font-size: 16px;
  color: #222;
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  line-height: 1;
  min-width: 200px;
}

.product-item {
  padding: 20px 30px;
  margin: 10px;
  border: solid 1px #ccc;
  border-radius: 8px;
}

.carrinho-container {
  min-width: 500px;
  padding: 10px 20px; 
  background-color: #fafafa;
  border: solid 1px #eee;
}

.carrinho-itens {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carrinho-item {
  margin: 0 0 16px 0;
  padding: 20px 0;
  border-bottom: solid 1px #ccc;
  color: #999;
}

.product-name {
  font-weight: bold;
  font-size: 20px;
  color: #555;
}

.btn-logout {
  font-size: 12px;
  color: #888;
  margin-left: 10px;
}

.btn-adicionar-item {
  font-size: 12px;
  color: #555;
}

.btn-remove-item {
  padding: 4px;
  font-size: 11px;
  color: #fff;
  background: red;
  margin-left: 10px;
}

.btn-limpar-carrinho {
  background-color: rgb(255, 173, 173);
  color: #bb0b0b;
  font-size: 12px;
}